body {
    /* fallback for old browsers */
    background: #FFFDD0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #48c6ef , #6f86d6);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #48c6ef , #6f86d6)
  }
  
 .adImage{
    width: 70%;
    height: 10rem !important;
    object-fit: contain;
    margin: 3%;
    /* align-self: center; */
  }