mainContainer{
    background-color: '#ffff' !important;
}

/* .mainContainer{
    backgroundColor: '#ffff', width: '80%' ,
	margin: '0 auto', marginTop: '10%' , borderRadius: 10 , padding: '5%'}, */
